{% extends "base.html" %}

{% block title %}{{categorie.categorie}} - Kfet{% endblock %}

{% block content %}
<h1>{{categorie.categorie}}</h1>
<br/><br/>
<table style=width:100%>
    <tr>
        <th>Nom</th>
        <th>Prix</th>
        <th>Photos</th>
        <th>Quantité en stock</th>
        <th>Commander</th>
    </tr>
    {% for pro in produit.object_list %}
    <tr>
        <td><a href="{% url Kfet.Commandes.views.produit pro.id %}">{{ pro.nom }}</a></td>
        <td>{{pro.prix}}</td>
        <td><center><img src="{{pro.image.url}}" height="50"></center></td>
        <td>
            <center>
                {{ pro.quantite }}
            </center>
        </td>
        <td>
            <center>
            {% ifnotequal pro.quantite 0 %}
            <form action="{% url Kfet.Commandes.views.panier_ajout %}" method="POST">{% csrf_token %}
                Quantité :<input type=text size=2 name="quantite"><br/>
                <input type=hidden value="{{ pro.id }}" name="produit">
                <input type=submit Value="Ajouter au panier">
            </form>
            {% else %}
                <p>Produit épuisé</p>
            {% endifnotequal %}
        </center>
        </td>

    </tr>
    {% endfor %}
</table>
    <div class="pagination">
        <span class="step-links">
            {% if produit.has_previous %}
                <a href="?page={{ produit.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ produit.number }} / {{ produit.paginator.num_pages }}.
            </span>

            {% if produit.has_next %}
                <a href="?page={{ produit.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

<p></p>

{% endblock %}
