{% extends "base.html" %}

{% block title %}{{categorie.categorie}} - Kfet{% endblock %}

{% block content %}
<h1>{{categorie.categorie}}</h1>

{% for pro in produit.object_list %}
<div class="cat_produit">
    <div class="cat_image">
        <img src="{{ pro.image.url }}" height=70px>
    </div>
    <div class="cat_detail">
    <strong><a href="{% url Kfet.Commandes.views.produit pro.id %}"> &nbsp {{ pro.nom }}</a></strong></br>
        &nbsp &nbsp &nbsp Quantité en stock : {{ pro.quantite }}
    </div> 
    <div class="cat_commande">
        {% ifnotequal pro.quantite 0 %}
        <form action="{% url Kfet.Commandes.views.panier_ajout %}" method="POST">{% csrf_token %}
            <strong>&nbsp Prix : {{ pro.prix }}</strong>&nbsp  &nbsp &nbsp Quantité :<input type=text size=2 name="quantite">
            <input type=hidden value="{{ pro.id }}" name="produit">
            <span class="cat_span">
                <input
                    class="cat_button"
                    type="submit" value="Commander" />
            </span>
        </form>
        {% else %}
        <center><strong>Produit épuisé</strong></center>
        {% endifnotequal %}
    </center>
       
    </div>
</div>

{% endfor %}
<br/><br/>
    <div class="pagination">
        <span class="step-links">
            {% if produit.has_previous %}
                <a href="?page={{ produit.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ produit.number }} / {{ produit.paginator.num_pages }}.
            </span>

            {% if produit.has_next %}
                <a href="?page={{ produit.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>

{% endblock %}
