{% extends "base.html" %}

{% block title %} Les menus - Kfet {% endblock %}

{% block content %}
<h1>Les menus de la Kfet</h1>

<p>Choisissez un menu :</p>
{% for menu in typeMenu %}
<div class="cat_produit">
    <div class="cat_detail">
        <strong>&nbsp {{ menu.nom }}</strong> avec {{ menu.nombreArticles }} articles<br/>
        &nbsp &nbsp &nbsp {{ menu.description }}
    </div>
    <div class="cat_commande">
        <span class="button">
            <input type="button" value="Choisir" OnClick="window.location.href='{% url Kfet.Commandes.views.choisirMenu menu.id %}'"/>
        </span>
    </div>
</div>
{% endfor %}

{% endblock %}
