{% extends "base.html" %}

{% block title %} Panier - Kfet{% endblock %}

{% block content %}
<h1>Panier de Mr {{user.first_name}}</h1>
{% if erreur %}
    <center style="color:red">{{ erreur|safe }}</center>
{% endif %}
<table style=width:100%;text-align:center>
    <tr>
        <th>Nom</th>
        <th>Quantité</th>
        <th>Actions disponible</th>
    </tr>
    {% for pan in panier %}
    <tr>
        <td>{{ pan.produit.nom }}</td>
        <td>
            <form action="{% url Kfet.Commandes.views.panier_maj pan.id %}" method="POST">{% csrf_token %}
                <input type="text" value="{{ pan.quantite }}" size=3 name="quantite">
                <input type="submit" value="ok">
            </form>
        </td>
        <td>
            <a href="{% url Kfet.Commandes.views.panier_suppr pan.id %}"><img src="/static/icon/icon_dellink.gif" title="Supprimer le produit"/>Supprimer</a><br/>
        </td>
    </tr>
    {% endfor %}
</table>

<span class="button">
    <input type="button" value="Valider panier" OnClick="window.location.href='{% url Kfet.Commandes.views.validerPanier %}'"/>
</span>

<p></p>

{% endblock %}
