{% extends "base.html" %}

{% block title %} Kfet - {{produit.nom}}{% endblock %}

{% block content %}
<h1>{{produit.nom}}</h1>
{% ifnotequal erreur None %}
    <div style="position:absolute; left:35%; top:20%">
    {% ifequal erreur "1" %}        
             <p style="color:red"> La quantité ajoutée ne peut être nulle</p>
    {% else %}
        {%ifequal erreur "2" %}
           <p style="color:red">La quantité demandée est supérieure au stock</p>
        {% endifequal %}
    {% endifequal %}
    </div>
{% endifnotequal %}

<div>
    <div style="width=280px;min-height:500px;">
        <div style="
            position: relative;
            padding: 10px;
            margin-top: 10px;
            width: 30%;
            min-height: 400px;
            float: left; 
        ">

            <div id="prix" style="position:absolute;left:0%;top:30%;width:85px;height:85px;background: url('/static/css/T_Shirt/css/images/products-price.png') no-repeat 0 0;z-index:1;color:white; font-size: 30px; font-family: 'HelveticaInseratRoman', arial, sans-serif; text-align: center;">
                <center>
                    <br/>
                    {{ produit.prix|stringformat:"d" }}€<sup>{{ produit.decimal }}</sup>
                </center>
            </div>
            <img src="{{ produit.image.url }}" height=150px>
        </div>
        <div style="
            border-radius: 10px;
            background-color: mediumslateblue;
            position: relative;
            padding: 2px;
            width: 60%;
            float: left;
            margin-left: 5px;
            margin-bottom: 10px;
            margin-top : 20px;
            color : white;
        ">
            <strong><a href="{% url Kfet.Commandes.views.produit produit.id %}"> &nbsp {{ produit.nom }}</a></strong></br>
            <p style="margin-left:25px"><strong>Quantité en stock : </strong>{{ produit.quantite }}
            <p style="margin-left:25px"><strong>Description : </strong>{{ produit.info }}</p>
            <p style="margin-left:25px"><strong>Ingrédients : </strong>{{ produit.ingredients }}</p>
        </div> 
        <div style="
            border-radius: 10px;
            background-color: mediumslateblue;
            position: relative;
            padding: 2px;
            width: 60%;
            margin-left: 5px;
            margin-top: 2px;
            float: left; 
        ">
            {% ifnotequal produit.quantite 0 %}
            <form action="{% url Kfet.Commandes.views.panier_ajout %}" method="POST">{% csrf_token %}
                <strong>&nbsp Prix : {{ produit.prix }}</strong>&nbsp  &nbsp &nbsp <font color="white">Quantité :</font><input type=text size=2 name="quantite">
                <input type=hidden value="{{ produit.id }}" name="produit">
                <span style="float: right; display: inline; background: url('/static/css/T_Shirt/css/images/button-left.png') no-repeat 0 0; margin-right:10px;top:40%">
                    <input
                        style="margin-right: -7px; position: relative; height: 29px; line-height: 27px; background: url('/static/css/T_Shirt/css/images/button-right.png') no-repeat right 0; float: left; display: inline; width: auto; border: none; cursor: pointer; padding-left: 15px; padding-right: 13px; color: #fff; font-weight: bold; letter-spacing: 1px; "
                        type="submit" value="Commander" />
                </span>
            </form>
            {% else %}
            <center><strong>Produit épuisé</strong></center>
            {% endifnotequal %}
               
        </div>
        <div style="
            border-radius: 10px;
            background-color: mediumslateblue;
            position: relative;
            padding: 2px;
            width: 60%;
            margin-left: 5px;
            margin-top: 10px;
            margin-bottom : 50px;
            padding-right:4px;
            float: left; 
        ">
        {% for com in comms.object_list %}            
        <div style="
            border-radius: 10px;
            background-color : paleturquoise;
            min-width : 30%;
            margin: 10px;
            "
        >
        <p style="padding-left:10px" align="justify">
            <strong>{{ com.profile.user.first_name }} 
                &nbsp ({{ com.profile.promo }})
            </strong> 
                &nbsp &nbsp 
                {% ifequal com.profile.user.first_name user.first_name %} 
                    <a href="#comm" onClick="document.getElementsByName('com')[0].value='{{ com.commentaire }}'; document.getElementsByName('id')[0].value='{{ com.id }}';"><img src="/static/icon/icon_editlink.gif" title="Modifier le commenatire"/></a>
                    <a href="{% url Kfet.Commandes.views.comm_suppr com.id %}"><img src="/static/icon/icon_dellink.gif" title="Supprimer le commenatire"/></a> 
                {% else %}
                {% if user.is_staff %}                
                    <a href="{% url Kfet.Commandes.views.cmmm_suppr cmm.id %}"><img src="/static/icon/icon_dellink.gif" title="Supprimer le commentaire"/></a> 
                {% endif %}
                {% endifequal %}
        </p>
        </div>
        <div style="
            border-radius: 10px;
            background-color : paleturquoise;
            min-width : 360px;
            margin: 10px;
            margin-left : 50px;
            "
        >
            <p style="padding:20px;" align="justify">{{ com.commentaire }}</p>
            <p align="right">Le {{ com.date }} &nbsp</p>
        </div>
        {% endfor %}
        
        <div class="pagination">
            <span class="step-links">
                {% if comms.has_previous %}
                    <a href="?page={{ comms.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ comms.number }} / {{ comms.paginator.num_pages }}.
                </span>

                {% if comms.has_next %}
                    <a href="?page={{ comms.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>


        {% if user.first_name %}
        <center>
        <A NAME="comm"></a>
        <form id="form" action="{% url Kfet.Commandes.views.produit produit.id %}" method="POST">{% csrf_token %}
            <textarea name="com" cols=55 rows=5></textarea><br/>
            <input type="hidden" name="id" value="">
            <span style="float: right; display: inline; background: url('/static/css/T_Shirt/css/images/button-long.png') no-repeat 0 0; margin-right:10px;top:40%">
                <input
                    style="margin-right: -7px; position: relative; height: 29px; line-height: 27px; background: url('/static/css/T_Shirt/css/images/button-right.png') no-repeat right 0; float: left; display: inline; width: auto; border: none; cursor: pointer; padding-left: 15px; padding-right: 13px; color: #fff; font-weight: bold; letter-spacing: 1px; "
                    type="submit" value="Ajouter un commentaire" 
                    />
            </span>
        </form> 
        </center>
        {% endif %}

        </div>
    </div>
</div>

{% endblock %}
