{% extends "base.html" %}

{% block title %}Création compte Utilisateur - Kfet{% endblock %}

{% block content %}
<h1>Création d'un compte utilisateur</h1>
<br/><br/>
<form action="{% url Kfet.Comptes.views.creation %}" method="post">{% csrf_token %}    
    <table border=0 style=width:100%>
    {% for field in form %}
    <tr><td>{{field.label_tag}}</td><td>{{ field }}</td><td>{{ field.errors }}</td></tr>
    {% endfor  %}
    </table>
    <input type="submit" value="Créer un compte" />
</form>

{% endblock %}
