{% extends "base.html" %}

{% block title %}Création compte Utilisateur - Kfet{% endblock %}

{% block content %}
<h1>Création d'un compte utilisateur</h1>
<br/><br/>
<form action="{% url Kfet.Comptes.views.login %}" method="post">{% csrf_token %}    
    <table border=0 style=width:100%>
    <tr>
        <td>
            Numéro étudiant : 
        </td>
        <td>
            <input type='text' name='username'>
        </td>
    </tr>
    <tr>
        <td>
            Mot de passe :
        </td>
        <td>
            <input type='password' name='password'>
        </td>
    </tr>
    </table>
    <center>
        <br/>
        <input type="submit" value="S'authentifier" />
    </center>
</form>

{% endblock %}
