{% extends "base.html" %}

{% block title %}Gérer les dettes{% endblock %}

{% block content %}

<h1>Administration des dettes</h1>

{% if message %}
    <center style="color:red">{{ message|safe }}</center>
{% endif %}

{% if promos %}
<div>
    <p><strong>Afficher : </strong>
    {% for p in promos %}
    <a href="{% url Kfet.Administration.views.dettes %}?promo={{ p }}">{{ p }}</a> |
    {% endfor %}
    </p>
</div>
{% endif %}

{% if users.object_list %}
<table style=width:100%;text-align:center>
    <tr>
        <th>Étudiant</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Promo</th>
        <th>Dettes</th>
        <th>Diminuer de</th>
        <th>Effacer</th>
    </tr>
{% for u in users.object_list %}
    <tr {% if u.dette >= 5.0 %} style="color:red" {% endif %}>
        <td>{{ u.user.username }}</td>
        <td>{{ u.user.last_name }}</td>
        <td>{{ u.user.first_name }}</td>
        <td>{{ u.promo.promo }}</td>
        <td>{{ u.dette }} €</td>
        <td>
            <form action="{% url Kfet.Administration.views.enleverDeDette u.user.id %}" method="POST">{% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <input type="submit" value="ok">
            </form>
        <td>
            <a href="{% url Kfet.Administration.views.effacerDette u.user.id %}"><img src="/static/icon/icon_dellink.gif" title="Effacer la dette"/>Effacer</a><br/>
        </td>
    </tr>
{% endfor %}
</table>

<div class="pagination">
    <span class="step-links">
        {% if users.has_previous %}
                <a href="{% url Kfet.Administration.views.dettes %}?page={{ users.previous_page_number }}&promo={{ promo }}">précédente</a>
            {% endif %}

            <span class="current">
                Page {{ users.number }} / {{ users.paginator.num_pages }}.
            </span>

            {% if users.has_next %}
                <a href="{% url Kfet.Administration.views.dettes %}?page={{ users.next_page_number }}&promo={{ promo }}">suivante</a>
            {% endif %}
        </span>
    </div>


{% else %}
    <p>Aucun utilisateur n'a de dette.</p>
{% endif %}

{% endblock %}
