{% extends "base.html" %}

{% block title %}Gérer les dettes{% endblock %}

{% block content %}

<h1>Administration des dettes</h1>

{% if message %}
    <center style="color:red">{{ message|safe }}</center>
{% endif %}

{% if users %}
<table style=width:100%;text-align:center>
    <tr>
        <th>Étudiant</th>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Dettes</th>
        <th>Diminuer de</th>
        <th>Effacer</th>
    </tr>
{% for u in users %}
    <tr>
        <td>{{ u.user.username }}</td>
        <td>{{ u.user.last_name }}</td>
        <td>{{ u.user.first_name }}</td>
        <td>{{ u.dette }} €</td>
        <td>
            <form action="{% url Kfet.Administration.views.enleverDeDette u.user.id %}" method="POST">{% csrf_token %}
                {% for field in form %}
                    {{ field }}
                {% endfor %}
                <input type="submit" value="ok">
            </form>
        <td>
            <a href="{% url Kfet.Administration.views.effacerDette u.user.id %}"><img src="/static/icon/icon_dellink.gif" title="Effacer la dette"/>Effacer</a><br/>
        </td>
    </tr>
{% endfor %}
</table>
{% else %}
    <p>Aucun utilisateur n'a de dette.</p>
{% endif %}

{% endblock %}
