{% extends "base.html" %}

{% block title %}Administration de la Kfet{% endblock %}

{% block content %}

<h1>Administration</h1>

<ul>
    <li><a href="{% url Kfet.GestionStock.views.index %}">Gérer les stocks</a> : Fournisseurs et produits</li>
    <li><a href="{% url Kfet.Administration.views.typeMenu %}">Gérer menus</a> : Composer et modifier les menus</li>
    <li><a href="{% url Kfet.Administration.views.typePaiement %}">Gérer les types de paiements</a> : Ajouter et modifier un type de paiement en ligne</li>
    <li><a href="{% url Kfet.Administration.views.dettes %}">Gérer les dettes</a> : Consulter, modifier une dette</li>
</ul>

{% endblock %}
