{% extends "base.html" %}

{% block title %}Administration de la Kfet{% endblock %}

{% block content %}

<h1>Administration</h1>
{{date}}
<form action="{% url Kfet.Administration.views.ventes %}" method="POST">{% csrf_token %}
    <input id="date" name="date" type="textbox"/><br/>
    <span style="float: left; display: inline; background: url('/static/css/T_Shirt/css/images/button-long.png') no-repeat 0 0; margin-right:10px;top:40%">
        <input
            style="margin-right: -7px; position: relative; height: 29px; line-height: 27px; background: url('/static/css/T_Shirt/css/images/button-right.png') no-repeat right 0; float: left; display: inline; width: auto; border: none; cursor: pointer; padding-left: 15px; padding-right: 13px; color: #fff; font-weight: bold; letter-spacing: 1px; "
            type="submit" value="Afficher CA" 
            />
    </span>
</form>
<br/><br/>
<p>Chiffre d'affaire de la journée : {{ca}}</p>

<h2>Ventes individuelles</h2>
<table border=0 style="width:100%">
    <tr><td> Id vente </td><td>Produit vendu</td><td>Quantité</td></tr>
    {% for vente in ventes %}

        <tr><td>{{ vente.id }}</td><td>{{ vente.produit }}</td><td>{{ vente.quantite }}</td></tr>

    {% endfor %}
</table>
<br/>
<h2>Commandes</h2>
<table border=0 style="width:100%">
    <tr><td> Id vente </td><td>Panier</td><td>Nom acheteur</td><td>Prix total</td></tr>
    {% for commande in commandes %}

        <tr><td>{{ commande.id }}</td><td>{{ commande.panier }}</td><td>{{ commande.user.first_name }} {{ commande.user.last_name }}</td><td>{{ commande.prix }}</td></tr>

    {% endfor %}
</table>


{% endblock %}
