{% extends "base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}

<p style="float:right"><a href="{% url Kfet.GestionStock.views.creerFournisseur %}"><img src="/static/icon/icon_addlink.gif"/>Ajouter un fournisseur</a></p>

<h1>Réapprovisionnement</h1>

{% if fournisseurs %}
     <table border="1" width=100%>
        <tr>
            <th width=10%>Nom</th>
            <th width=10%>Téléphone</th>
            <th width=10%>Mail</th>
            <th width=20%>Description</th>
            <th width=5%>Actions</th>
        </tr>
    {% for f in fournisseurs %}
        <tr>
            <td>{{ f.nom }}</td>
            <td>{{ f.tel }}</td>
            <td>{{ f.mail }}</td>
            <td>{{ f.description }}</td>
            <td><a href="{% url Kfet.GestionStock.views.creerFournisseur f.id %}">Modifier</a>, <a href="{% url Kfet.GestionStock.views.commander f.id %}">Commander</a></td>
    {% endfor %}
    </table>
{% else %}
<p>Aucun founisseur n'est défini. <a href="{% url Kfet.GestionStock.views.creerFournisseur %}"><img src="/static/icon/icon_addlink.gif" title="Ajouter un fournisseur"/>Ajouter un fournisseur</a></p>
{% endif %}


{% endblock %}
