{% extends "base.html" %}

{% block title %} Kfet - Vente Kfetier{% endblock %}

{% block content %}
<h1>Kfet Vente</h1>

{% if vente.id %}
    <p>Dernière vente (n° : {{ vente.id }}) : {{ vente.produit }} * {{ vente.quantite }} &nbsp &nbsp <font color="red"><a href="{% url Kfet.Ventes.views.annuler_vente vente.id %}" style="decoration:none;color:red">Annuler la vente</a></p>
{% endif %}

<div style="padding:30px; min-height:400px">
    {% for pro in produit.object_list %}
    <div style="float:left; padding-left:10px;">
        </br>
        <blockquote style="color:black;height:160px;width:120px;padding: 2px 10px 2px 10px; margin: 2px 2px 2px 2px;">
            <br/>
            {% ifequal  pro.quantite 0 %}
            <center><a href="#"><img src="/static/css/T_Shirt/css/images/out.jpg" alt="Image" height="100px"></a></center>
            {% else %}
            <center><a href="{% url Kfet.Ventes.views.produit_vente pro.id %}"><img src="{{ pro.image.url }}" alt="Image" height="80px"></a></center>
            <form action="{% url Kfet.Ventes.views.produit_vente pro.id %}" method="POST">{% csrf_token %}
                <input type="text" name="quantite" size="3">
                <input type="submit" value="Vendre">
            </form>

            {% endifequal %}
            <center>{{ pro.nom }} ({{ pro.quantite }})</center>                          
        </blockquote>
    </div>
    {% endfor %}
</div>

{% endblock %}
