{% extends "base.html" %}

{% block title %} Kfet - Vente Kfetier{% endblock %}

{% block content %}
<h1>Kfet Vente</h1>

<p>{{ error }}</p>

{% if vente.id %}
    <p>Dernière vente (n° : {{ vente.id }}) : {{ vente.produit }} * {{ vente.quantite }} &nbsp &nbsp {% if vente.user %} ( Mis en dette à {{ vente.user.user.first_name }} {{ vente.user.user.last_name }} ) {% endif %} &nbsp &nbsp <a href="{% url Kfet.Ventes.views.annuler_vente vente.id %}" style="decoration:none;color:red">Annuler la vente</a></p>
{% endif %}

<input type="button" id="voir" value="Dettes" onClick="divaffiche()" style="display:inline;"/> 
<input type="button" id="cache" value="Cacher dettes" onClick="divcache()" style="display:none;"/>

{% ifequal open 1 %}
<div id="popup" style="min-height:120px;display:block">
{% else %}
<div id="popup" style="min-height:120px;display:none">
{% endifequal %}


    <div style="float:left;padding:10px;width:130px;margin:20px">

        {% for promo in promos %}
            <a href="{% url Kfet.Ventes.views.index promo.id 1 %}">{{promo.promo}}</a></br>
        {% endfor %}

    </div>
    <div style="float:left;padding:10px;width:130px;margin:20px">
            <select size="5" style="width:250px" name="nomDette">
                {% for user in users %}
                <option onclick="
                    for (i=1; i <= {{ produit.object_list|length }}; i++){
                        f = 'form.'+i;
                        document.forms[f].nomDette.value = '{{ user.user_id }}'
                    }
                ">{{ user.user.first_name }} {{ user.user.last_name }} ( Dette : {{ user.dette }} € )</option>
                {% endfor%}
            </select>        
    </div>    
</div>

<div style="padding:30px; min-height:400px">
    {% for pro in produit.object_list %}
    <div style="float:left;padding:10px;border:2px outset blue;border-radius:10px;width:130px;margin:20px">
            <center><strong style="font-size:1.5em">{{ pro.prix }}€</strong></center>
            <form id="form.{{pro.id}}" name="form"  action="{% url Kfet.Ventes.views.produit_vente pro.id %}" method="POST">{% csrf_token %}
                {% ifequal  pro.quantite 0 %}
                <center><a href="#"><img src="/static/css/T_Shirt/css/images/out.jpg" alt="Image" height="100px"></a></center>
                {% else %}
                <center><a href="#" onclick="document.forms['form.{{pro.id}}'].submit();"><img src="{{ pro.image.url }}" alt="Image" height="80px"></a></center>
                <input type="text" name="quantite" size="3" value="1">
                <input id="nomDette" type="hidden" name="nomDette" value="no">
                <input type="submit" value="Vendre">
            </form>

            {% endifequal %}
            <center>{{ pro.nom }} ({{ pro.quantite }})</center>                          
    </div>
    {% endfor %}
</div>

{% endblock %}
