@font-face {
    font-family: 'Museo500';
    src: url('/static/css/T_Shirt/css/fonts/museo500-regular-webfont.eot');
    src: url('/static/css/T_Shirt/css/fonts/museo500-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/css/T_Shirt/css/fonts/museo500-regular-webfont.woff') format('woff'),
         url('/static/css/T_Shirt/css/fonts/museo500-regular-webfont.ttf') format('truetype'),
         url('/static/css/T_Shirt/css/fonts/museo500-regular-webfont.svg#Museo500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaInseratRoman';
    src: url('/static/css/T_Shirt/css/fonts/helveticainserat-roman-webfont.eot');
    src: url('/static/css/T_Shirt/css/fonts/helveticainserat-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/css/T_Shirt/css/fonts/helveticainserat-roman-webfont.woff') format('woff'),
         url('/static/css/T_Shirt/css/fonts/helveticainserat-roman-webfont.ttf') format('truetype'),
         url('/static/css/T_Shirt/css/fonts/helveticainserat-roman-webfont.svg#HelveticaInseratRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo300';
    src: url('/static/css/T_Shirt/css/fonts/museo300-regular-webfont.eot');
    src: url('/static/css/T_Shirt/css/fonts/museo300-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/css/T_Shirt/css/fonts/museo300-regular-webfont.woff') format('woff'),
         url('/static/css/T_Shirt/css/fonts/museo300-regular-webfont.ttf') format('truetype'),
         url('/static/css/T_Shirt/css/fonts/museo300-regular-webfont.svg#Museo300') format('svg');
    font-weight: normal;
    font-style: normal;
}

* { margin: 0; padding: 0; outline: 0; }

body {
    font-size: 12px;
    line-height: 20px;
    font-family: "Trebuchet MS", arial, sans-serif;
    color: #375970;
}

.shell {
	width: 979px; 
	margin: 0 auto;
}

a { color: #0252aa; text-decoration: none; cursor: pointer; }
a:hover { text-decoration: underline; }
a img { border: 0; }

input, textarea, select { font-size: 12px; font-family: arial, sans-serif; }
textarea { overflow: auto; }

.cl { display: block; height: 0; font-size: 0; line-height: 0; text-indent: -4000px; clear: both; }
.notext { font-size: 0; line-height: 0; text-indent: -4000px; }
.left, .alignleft { float: left; display: inline; }
.right, .alignright { float: right; display: inline; }

#wrapper { background: url('/static/css/T_Shirt/css/images/body-top.png') no-repeat center 0; }
.inner { background: url('/static/css/T_Shirt/css/images/body-bottom.png') no-repeat center bottom; }

/* Header */
header { background: url('/static/css/T_Shirt/css/images/header-bg.png') repeat-x 0 0; height: 81px; z-index: 100; position: relative; }
header .header-inner { background: url('/static/css/T_Shirt/css/images/header-inner.png') no-repeat center 0; }
header .shell { padding-left: 25px; padding-right: 6px; width: 949px; }


h1, h2, h3, h4, h5, h6 {
    margin-bottom: 1em;
}

h1#logo { float: left; display: inline; padding-top: 7px; padding-bottom: 5px; margin-bottom:0 }
h1#logo a { width: 100px; height: 69px; display: block; background: url('/static/css/T_Shirt/css/images/logo.png') no-repeat; background-size : 69px; padding-left:74px; background-position: center;}

#account { float: right; display: inline; padding-top: 24px; width: 173px;  }
#account a.view-account { padding-left: 33px; display: block; line-height: 17px; background: url('/static/css/T_Shirt/css/images/shop.png') no-repeat 0 0; color: #ffe75f; margin-bottom: 2px; }
#account span { float: left; display: inline; padding-left: 1px; padding-right: 18px; color: #ffe75f; }

nav { float: right; display: inline; padding-right: 20px; }
nav ul { float: right; display: inline; }
nav li { float: left; display: inline; margin-left: 5px; }
nav li a { position: relative; display: inline; float: left; font-family: 'Museo500', arial, sans-serif; font-size: 14px; color: #fff; background: url('/static/css/T_Shirt/css/images/nav-hover-left.png') no-repeat 0 0; }
nav li a span { padding: 33px 17px 16px 17px; display: inline; float: left; margin-right: -6px; position: relative; background: url('/static/css/T_Shirt/css/images/nav-hover-right.png') no-repeat right 0; }
nav li a:hover { background-position: 0 -69px; color: #1c7dbf; text-decoration: none; margin-left: -8px; }
nav li a:hover span { padding-left: 25px; background-position: right -69px; }

/* Main */
#main { background: #fff; padding: 0 9px 28px 10px; height: 100%; }

/* Sidebar */
#sidebar { width: 226px; float: left; display: inline; padding-top: 2px; background: #deeaee url('/static/css/T_Shirt/css/images/sidebar-bg.png') repeat-x 0 bottom; color: #7f7f7f; }
#sidebar li { list-style: none; }

.widget { padding-bottom: 16px; }
.widget h2 { height: 37px; line-height: 37px; background: url('/static/css/T_Shirt/css/images/widget-title.png') no-repeat 0 0; font-family: 'Museo500', arial, sans-serif; font-size: 18px; color: #fff; font-weight: normal; padding: 0 9px 5px 22px; }
.widget li a { line-height: 26px; height: 26px; padding-left: 23px; font-size: 13px; border-bottom: 1px solid #fff; color: #7f7f7f; display: block; }
.widget li.last a { border: none; }
.widget li a:hover { color: #375970; background: #fff; text-decoration: none; font-weight: bold; }

#search { padding: 2px 9px 2px 8px; }
#search label { display: block; padding-bottom: 1px; }
#search input,
#search select { width: 197px; line-height: 18px; padding: 2px 4px; border: 1px solid #dedede; margin-bottom: 8px; margin-left: 2px; font-family: "Trebuchet MS", arial, sans-serif; }
#search select { width: 207px; height: 26px; padding-left: 0; padding-right: 2px; }
#search .price { padding-top: 2px; padding-bottom: 15px; }
#search .price label,
#search .price select { float: left; display: inline; }
#search .price label { line-height: 26px; }
#search .price select { width: 50px; margin: 0 4px; padding-left: 1px; }
.button { float: left; display: inline; background: url('/static/css/T_Shirt/css/images/button-left.png') no-repeat 0 0; }
.button input { margin-right: -7px; position: relative; height: 29px; line-height: 27px; background: url('/static/css/T_Shirt/css/images/button-right.png') no-repeat right 0; float: left; display: inline; width: auto; border: none; cursor: pointer; padding-left: 15px; padding-right: 13px; color: #fff; font-weight: bold; letter-spacing: 1px; }
#search .button { float: left; display: inline; background: url('/static/css/T_Shirt/css/images/button-left.png') no-repeat 0 0; }
#search .button input { margin-right: -7px; position: relative; height: 29px; line-height: 27px; background: url('/static/css/T_Shirt/css/images/button-right.png') no-repeat right 0; float: left; display: inline; width: auto; border: none; cursor: pointer; padding-left: 15px; padding-right: 13px; color: #fff; font-weight: bold; letter-spacing: 1px; }
#search .options li a { text-decoration: underline; padding-left: 13px; background: url('/static/css/T_Shirt/css/images/arrow-right.png') no-repeat 2px 6px; color: #399adb; font-size: 12px; line-height: 16px; height: auto; border: none; }
#search .options li a:hover { text-decoration: none; font-weight: normal; }

/* Content */
#content { float: right; display: inline; width: 724px; padding-top: 3px; padding-bottom: 30px; }

#slider { width: 723px; height: 246px; position: relative; margin-right: 1px; padding-bottom: 26px; }
#slider li { list-style: none; }
#slider .jcarousel-container { z-index: 10; position: relative; }
#slider .jcarousel-clip ,
#slider ul.slider-items,
#slider ul.slider-items li { width: 723px; height: 246px; overflow: hidden; position: relative; }
#slider ul.slider-items li { float: left; display: inline; }
#slider .slider-frame { font-size: 0; line-height: 0; text-indent: -4000px; position: absolute; top: 0; left: 0; width: 723px; height: 246px; background: url('/static/css/T_Shirt/css/images/slider-frame.png') no-repeat 0 0; z-index: 50; }
#slider .slider-controls { position: absolute; left: 50%; bottom: 28px; z-index: 100; }
#slider .slider-controls { float: left; display: inline; }
#slider .slider-controls li { float: left; display: inline; padding-right: 5px; }
#slider .slider-controls li a { background: url('/static/css/T_Shirt/css/images/slider-nav-item.png') no-repeat 0 0; width: 15px; height: 16px; display: block; font-size: 0; line-height: 0; text-indent: -4000px; }
#slider .slider-controls li a:hover,
#slider .slider-controls li.active a { background-position: 0 -16px; }

.post { padding-left: 9px; padding-bottom: 29px; min-height:360px ; margin-top:1.5em}
.post h2 { font-family: 'Museo500', arial, sans-serif; font-size: 26px; padding-bottom: 7px; font-weight: normal; word-spacing: 3px; }
.post p { word-spacing: -1px; margin-bottom: 1.5em}

#products .product { float: left; display: inline; width: 234px; max-height: 200px; margin-right: 8px; border: 1px solid #dedede; position: relative; }
#products .last { margin-right: 0; }
#products .product img { padding-bottom: 68px; max-height: 200px;}
#products .product .pr-info { position: absolute; bottom: 15px; left: 0; background: url('/static/css/T_Shirt/css/images/products-info-bar.png') no-repeat 0 0; padding: 11px 118px 11px 12px; }
#products .product .pr-info h4 { text-transform: uppercase; font-size: 14px; color: #375970; line-height: 18px; }
#products .product .pr-info p { font-size: 11px; color: #000; line-height: 12px; }
#products .product .pr-price { position: absolute; top: -10px; right: 5px; background: url('/static/css/T_Shirt/css/images/products-price.png') no-repeat 0 0; width: 82px; height: 82px; line-height: 72px; color: #fff; font-size: 31px; font-family: 'HelveticaInseratRoman', arial, sans-serif; text-align: center; }
#products .product .pr-price span { font-size: 26px; }
#products .product .pr-price sup { font-size: 17px; padding-left: 1px; }

#pr-slider { width: 896px; height: 146px; position: relative; border: 1px solid #dedede; padding: 0 31px; margin-bottom: 29px; }
#pr-slider .jcarousel-clip ,
#pr-slider ul,
#pr-slider ul li { width: 896px; height: 146px; overflow: hidden; position: relative; }
#pr-slider ul li { float: left; display: inline; text-align: left; width: 128px; }
#pr-slider .jcarousel-prev,
#pr-slider .jcarousel-next { font-size: 0; line-height: 0; text-indent: -4000px; width: 31px; height: 144px; display: block; position: absolute; top: 1px; cursor: pointer; padding-top: 2px; }
#pr-slider .jcarousel-prev { background: url('/static/css/T_Shirt/css/images/slider-left.png') no-repeat center center; left: 1px; }
#pr-slider .jcarousel-next { background: url('/static/css/T_Shirt/css/images/slider-right.png') no-repeat center center; right: 1px; }

#home-boxes { padding-left: 8px; }
#home-boxes .box { float: left; display: inline; width: 237px; }
#home-boxes .box .box-title img,
#home-boxes .box .box-title h4 { float: left; display: inline; }
#home-boxes .box .box-title h4 { color: #000; font-size: 12px; height: 32px; line-height: 32px; padding-left: 7px; text-transform: uppercase; background: url('/static/css/T_Shirt/css/images/box-title.png') no-repeat 0 0; width: 180px; }
#home-boxes .first .box-title h4 { width: 176px; }
#home-boxes .box .box-entry { padding: 11px 13px; color: #7f7f7f; line-height: 16px; }
#home-boxes .box .box-entry p { padding-bottom: 7px; }
#home-boxes .box .box-entry p.more { text-align: right; }
#home-boxes .box .box-entry p.more a { padding-left: 13px; background: url('/static/css/T_Shirt/css/images/more.png') no-repeat 0 4px; color: #c74b00; font-family: 'Museo300', arial, sans-serif; font-size: 14px; padding-right: 7px; }

/* Footer */
footer { background: #fff url('/static/css/T_Shirt/css/images/footer-bg.png') no-repeat 0 0; color: #aac6e2; padding: 16px 27px 31px 33px;  }
footer p { float: right; display: inline; }
footer p.bottom-menu { float: left; }
footer a { color: #aac6e2; }
footer span { padding-left: 3px; padding-right: 4px; }

/* ++++++++++++++++++++++++++++++++++++++++ */

/* Bouton de réapprovisionnement */
#reappro {
    border : outset 1px yellow;
    color :red;
    font-weight:bold;
    width : 250px;
    text-align:center;
    margin:auto;
    background-color : darkorange; 
    border-radius: 10px;
    font-size:1.5em;
}
#reappro > a {
    text-decoration : none;
}
#reappro :hover {
    border:inset 1px yellow;
    border-radius: 10px;
    width : 250px;
    background-color:orange;
}

/* ++++++++++++++++++++++++++++++++++++++++ */

/* Style page produit */

/* Style page categorie */
.cat_produit{
    min-width:700px;
    min-height:150px;
}

.cat_image{
    position: relative;
    padding: 10px;
    margin-top: 10px;
    width: 20%;
    float: left; 
}

.cat_detail{
    border-radius: 10px;
    background-color: mediumslateblue;
    position: relative;
    padding: 2px;
    width: 60%;
    float: left;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top : 20px;
    color : white;
}

.cat_commande{
    border-radius: 10px;
    background-color: paleturquoise;
    position: relative;
    padding: 2px;
    width: 60%;
    margin-left: 5px;
    margin-top: 2px;
    float: left; 
}
.cat_span{
    float: right; 
    display: inline; 
    background: url('/static/css/T_Shirt/css/images/button-left.png') no-repeat 0 0; 
    margin-right:10px;
}
.cat_button{
    margin-right: -7px;
    position: relative;
    height: 29px;
    line-height: 27px;
    background: url('/static/css/T_Shirt/css/images/button-right.png') no-repeat right 0;
    float: left;
    display: inline;
    width: auto;
    border: none;
    cursor: pointer;
    padding-left: 15px;
    padding-right: 13px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 1px; 
}


/* ++++++++++++++++++++++++++++++++++++++++ */

/* Style page index vente */

blockquote {
    font-style: italic;
    border: 2px dotted mediumslateblue;
    padding-left: 15px; 
    padding-right: 15px;
    padding-top : 15px;
    padding-bottom : 15px;
    margin-bottom: 15px;
    margin-top: 15px;
    color: #74752B;
    width: 150px;
    heigh: 500px;   
}


/* #######################################"" */
/*datepicker*/
/* Main Style Sheet for jQuery UI date picker */
#ui-datepicker-div, .ui-datepicker-div, .ui-datepicker-inline {
/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 0.8; text-decoration: none; font-size: 100%; list-style: none;
font-family: Trebuchet MS, Arial, sans-serif;
background-color: #3e3d3d;
font-size: 1em;
border: 1px solid #777777;
width: 15.9em;
padding: 2.3em .3em .3em .3em;
position: relative;
}
#ui-datepicker-div,
.ui-datepicker-div {
z-index: 9999; /*must have*/
display: none;
background: #3e3d3d;
}
.ui-datepicker-inline {
float: left;
display: block; 
}
.ui-datepicker-control {
display: none;
}
.ui-datepicker-current {
display: none;
}
.ui-datepicker-next, .ui-datepicker-prev {
position: absolute;
left: .5em;
top: .5em;
background: #444444 url(images/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}
.ui-datepicker-next {
left: 14.6em;
}
.ui-datepicker-next:hover, .ui-datepicker-prev:hover {
background: #333333 url(images/333333_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}
.ui-datepicker-next a,
.ui-datepicker-next label,
.ui-datepicker-prev label,
.ui-datepicker-prev a {
text-indent: -999999px;
width: 1.3em;
height: 1.4em;
display: block;
font-size: 1em;
background: url(images/eeeeee_7x7_arrow_left.gif) 50% 50% no-repeat;
border: 1px solid #777777;
cursor: pointer;
}
.ui-datepicker-next label,
.ui-datepicker-next a {
background: url(images/eeeeee_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:hover {
background: url(images/ffd40f_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:hover {
background: url(images/ffd40f_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-prev a:active {
background: url(images/ffffff_7x7_arrow_left.gif) 50% 50% no-repeat;
}
.ui-datepicker-next a:active {
background: url(images/ffffff_7x7_arrow_right.gif) 50% 50% no-repeat;
}
.ui-datepicker-header select {
border: 1px solid #777777;
color: #cfcfcf;
background: #444444;
font-size: 1em;
line-height: 1.4em;
position: absolute;
top: .5em;
margin: 0 !important;

}
.ui-datepicker-header select.ui-datepicker-new-month {
width: 7em;
left: 2.2em;
}
.ui-datepicker-header select.ui-datepicker-new-year {
width: 5em;
left: 9.4em;
}
table.ui-datepicker {
width: 15.5em;
text-align: right;
}
table.ui-datepicker td.ui-datepicker-unselectable
{
padding: .1em .3em .1em 0;
border: 1px solid transparent;
}
table.ui-datepicker td a {
padding: .1em .3em .1em 0;
display: block;
color: #cfcfcf;
background: #444444 url(images/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
cursor: pointer;
border: 1px solid #3e3d3d;
}
table.ui-datepicker td a:hover {
border: 1px solid #444444;
color: #ffffff;
background: #333333 url(images/333333_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}
table.ui-datepicker td a:active {
border: 1px solid #841515;
color: #ffffff;
background: #841515 url(images/841515_40x100_textures_02_glass_35.png) 0 50% repeat-x;
}
table.ui-datepicker .ui-datepicker-title-row td {
padding: .3em 0;
text-align: center;
font-size: .9em;
color: #cfcfcf;
text-transform: uppercase;
/*border-bottom: 1px solid #777777;*/
}

table.ui-datepicker .ui-datepicker-title-row td a {
color: #cfcfcf;
}

table.ui-datepicker td.ui-datepicker-current-day a,
table.ui-datepicker td.selected a
{
color: black;
background: #999999 url(images/999999_40x100_textures_02_glass_25.png) 0 50% repeat-x;
}

table.ui-datepicker td.ui-datepicker-today a
{
color: black;
background: #a21111 url(images/a21111_40x100_textures_02_glass_35.png) 0 50% repeat-x;
}

                                                                                            /*
                                                                                             * Generic ThemeRoller Classes
                                                                                             * >> Make your jQuery Components ThemeRoller-Compatible!
                                                                                             * */

/*component global class*/
.ui-component {
/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
font-family: Trebuchet MS, Arial, sans-serif;
font-size: 1.1em;
}
/*component content styles*/
.ui-component-content {
border: 1px solid #777777;
background: #3e3d3d;
color: #cfcfcf;
}
.ui-component-content a {
color: #cfcfcf;
text-decoration: underline;
}
/*component states*/
.ui-default-state {
border: 1px solid #777777;
background: #444444 url(images/444444_40x100_textures_02_glass_25.png) 0 50% repeat-x;
font-weight: bold;
color: #cfcfcf !important;
}
.ui-default-state a {
color: #cfcfcf;
}
.ui-default-state:hover, .ui-hover-state {
border: 1px solid #444444;
background: #333333 url(images/333333_40x100_textures_02_glass_25.png) 0 50% repeat-x;
font-weight: bold;
color: #ffffff !important;
}
.ui-hover-state a {
color: #ffffff;
}
.ui-default-state:active, .ui-active-state {
border: 1px solid #841515;
background: #841515 url(images/841515_40x100_textures_02_glass_35.png) 0 50% repeat-x;
font-weight: bold;
color: #ffffff !important;
outline: none;
}
.ui-active-state a {
color: #ffffff;
outline: none;
}
/*icons*/
.ui-arrow-right-default {background: url(images/eeeeee_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:hover, .ui-arrow-right-hover {background: url(images/ffd40f_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-right-default:active, .ui-arrow-right-active {background: url(images/ffffff_7x7_arrow_right.gif) no-repeat 50% 50%;}
.ui-arrow-left-default {background: url(images/eeeeee_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:hover, .ui-arrow-left-hover {background: url(images/ffd40f_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-left-default:active, .ui-arrow-left-active {background: url(images/ffffff_7x7_arrow_left.gif) no-repeat 50% 50%;}
.ui-arrow-down-default {background: url(images/eeeeee_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:hover, .ui-arrow-down-hover {background: url(images/ffd40f_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-down-default:active, .ui-arrow-down-active {background: url(images/ffffff_7x7_arrow_down.gif) no-repeat 50% 50%;}
.ui-arrow-up-default {background: url(images/eeeeee_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:hover, .ui-arrow-up-hover {background: url(images/ffd40f_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-arrow-up-default:active, .ui-arrow-up-active {background: url(images/ffffff_7x7_arrow_up.gif) no-repeat 50% 50%;}
.ui-close-default {background: url(images/eeeeee_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:hover, .ui-close-hover {background: url(images/ffd40f_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-close-default:active, .ui-close-active {background: url(images/ffffff_11x11_icon_close.gif) no-repeat 50% 50%;}
.ui-folder-closed-default {background: url(images/eeeeee_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:hover, .ui-folder-closed-hover {background: url(images/ffd40f_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-closed-default:active, .ui-folder-closed-active {background: url(images/ffffff_11x11_icon_folder_closed.gif) no-repeat 50% 50%;}
.ui-folder-open-default {background: url(images/eeeeee_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:hover, .ui-folder-open-hover {background: url(images/ffd40f_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-folder-open-default:active, .ui-folder-open-active {background: url(images/ffffff_11x11_icon_folder_open.gif) no-repeat 50% 50%;}
.ui-doc-default {background: url(images/eeeeee_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:hover, .ui-doc-hover {background: url(images/ffd40f_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-doc-default:active, .ui-doc-active {background: url(images/ffffff_11x11_icon_doc.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default {background: url(images/eeeeee_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:hover, .ui-arrows-leftright-hover {background: url(images/ffd40f_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-leftright-default:active, .ui-arrows-leftright-active {background: url(images/ffffff_11x11_icon_arrows_leftright.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default {background: url(images/eeeeee_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:hover, .ui-arrows-updown-hover {background: url(images/ffd40f_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-arrows-updown-default:active, .ui-arrows-updown-active {background: url(images/ffffff_11x11_icon_arrows_updown.gif) no-repeat 50% 50%;}
.ui-minus-default {background: url(images/eeeeee_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:hover, .ui-minus-hover {background: url(images/ffd40f_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-minus-default:active, .ui-minus-active {background: url(images/ffffff_11x11_icon_minus.gif) no-repeat 50% 50%;}
.ui-plus-default {background: url(images/eeeeee_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:hover, .ui-plus-hover {background: url(images/ffd40f_11x11_icon_plus.gif) no-repeat 50% 50%;}
.ui-plus-default:active, .ui-plus-active {background: url(images/ffffff_11x11_icon_plus.gif) no-repeat 50% 50%;}
/*hidden elements*/
.ui-hidden {
display: none;/* for accessible hiding: position: absolute; left: -99999999px*/
}
.ui-accessible-hidden {
position: absolute; left: -99999999px;
}
/*reset styles*/
.ui-reset {
/*resets*/margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
}
/*clearfix class*/
.ui-clearfix:after {
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}
.ui-clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .ui-clearfix {height: 1%;}
* .ui-clearfix {display: block;}
*/* End hide from IE-mac */

/* Note: for resizable styles, use the styles listed above in the dialog section */

.vehicleDetail > td:first-child
{
border-left: solid 1px black;
border-bottom: solid 1px black;
}

.vehicleDetail > td:last-child 
{
border-right: solid 1px black;
border-bottom: solid 1px black;
}

.vehicleDetail > td:last-child > table > tbody > tr > td:last-child
{
color: White;
}

.showWhenSelected
{   
visibility: hidden;
}
