<!DOCTYPE html>
<html lang="fr">
    <head>
        <!-- meta -->
        <meta charset="utf-8" />
        <meta name="keywords" content="mots-clés" />
        <meta name="description" content="description" />
        <meta name="author" content="auteur">

        <script src="/static/css/T_Shirt/js/jquery-1.6.2.min.js" type="text/javascript" charset="utf-8"></script>
	<!--[if IE 6]>
		<script src="/static/css/T_Shirt/js/DD_belatedPNG-min.js" type="text/javascript" charset="utf-8"></script>
	<![endif]-->
	<script src="/static/css/T_Shirt/js/jquery.jcarousel.min.js" type="text/javascript" charset="utf-8"></script>
	<script src="/static/css/T_Shirt/js/functions.js" type="text/javascript" charset="utf-8"></script>

        <!-- include -->
        <link rel="stylesheet" href="/static/css/T_Shirt/css/style.css" />

	  <title>{% block title %}Kfet{% endblock %}</title>
    </head>

    <body>
        <!-- Begin Wrapper -->
	<div id="wrapper">
		<!-- Begin Inner -->
		<div class="inner">
			<!-- Begin Header -->
			<header>
                            <div class="header-inner">
                                <!-- Begin Shell -->
                                <div class="shell">
                                        <h1 id="logo"><a class="notext" href="#">Kfet du DI</a></h1>
                                        <div id="account">
                                                <a class="view-account" title="View Account" href="#">Votre panier d'achats</a>
                                                <span>Articles: 4</span><span>Cost: <strong>5.00€</strong></span>
                                                <div class="cl">&nbsp;</div>
                                        </div>
                                        <!-- Begin Navigation -->
                                        <nav>
                                                <ul>
                                                        <li><a href="#" title="Page d'accueil"><span>Accueil</span></a></li>
                                                        <li><a href="#" title="Page des services"><span>Services</span></a></li>
                                                        <li><a href="#" title="Page de mon compte"><span>Mon compte</span></a></li>
                                                        <li><a href="#" title="Page de la boutique"><span>La boutique</span></a></li>
                                                        <li><a href="#" title="Page de contact"><span>Contact</span></a></li>
                                                </ul>
                                                <div class="cl">&nbsp;</div>
                                        </nav>
                                        <!-- End Navigation -->
                                        <div class="cl">&nbsp;</div>
                                </div>
                                <!-- End Shell -->
                            </div>
			</header>
			<!-- End Header -->
			<!-- Begin Shell -->
			<div class="shell">
				<!-- Begin Main -->
				<div id="main">
					<!-- Begin Sidebar -->
					<div id="sidebar">
						<ul>
							<!-- Begin Widget -->
							<li class="widget">
								<h2>Categories</h2>
								<ul>
									<li><a href="#" title="Category 1">Category 1</a></li>
									<li><a href="#" title="Category 2">Category 2</a></li>
									<li class="last"><a href="#" title="Category 3">Category 3</a></li>
								</ul>
							</li>
							<!-- End Widget -->
							<!-- Begin Widget -->
							<li class="widget">
								<h2>Search</h2>
								<div id="search">
									<form action="#" method="get" accept-charset="utf-8">
										<label>Keyword</label>
										<input type="text" class="blink" name="keyword" />
										<label>Category</label>
										<select size="1" name="category">
											<option value="default">-- Select Category --</option>
											<option value="category1">Category 1</option>
											<option value="category2">Category 2</option>
											<option value="category3">Category 3</option>
										</select>
										<div class="price">
											<label>Price</label>
											<select size="1" name="price">
												<option value="10">€10</option>
												<option value="20">€20</option>
												<option value="30">€30</option>
												<option value="40">€40</option>
												<option value="50">€50</option>
												<option value="60">€60</option>
												<option value="70">€70</option>
												<option value="80">€80</option>
												<option value="90">€90</option>
												<option value="100">€100</option>
											</select>
											<label>to:</label>
											<select size="1" name="to">
												<option value="50">€50</option>
												<option value="60">€60</option>
												<option value="70">€70</option>
												<option value="80">€80</option>
												<option value="90">€90</option>
                                                                                                <option value="100">€100</option>
												<option value="200">€200</option>
												<option value="300">€300</option>
												<option value="400">€400</option>
												<option value="500">€500</option>
											</select>
											<div class="cl">&nbsp;</div>
										</div>
										<span class="button"><input type="submit" value="Rechercher" /></span>
										<div class="cl">&nbsp;</div>
									</form>
									<ul class="options">
										<li><a href="#" title="Recherche avancée">Recherche avancée</a></li>
										<li><a href="#" title="Contacter le service client">Contacter le service client</a></li>
									</ul>
								</div>
							</li>
							<!-- End Widget -->
						</ul>
					</div>
					<!-- End Sidebar -->
					<!-- Begin Content -->
					<div id="content">
						<!-- Begin Slider -->
						<div id="slider">
							<div class="slider-frame">&nbsp;</div>
							<ul class="slider-items">
								<li><img src="/static/css/T_Shirt/css/images/product-img1.jpg" alt="Slide 1" height="246px" width="723px"/></li>
								<li><img src="/static/css/T_Shirt/css/images/product-img2.jpg" alt="Slide 1" height="246px" width="723px"/></li>
								<li><img src="/static/css/T_Shirt/css/images/product-img3.jpg" alt="Slide 1" height="246px" width="723px"/></li>
							</ul>
							<div class="cl">&nbsp;</div>
							<div class="slider-controls">
								<ul></ul>
								<div class="cl">&nbsp;</div>
							</div>
						</div>
						<!-- End Slider -->
						<!-- Begin Post -->
                                                <div class="post">
                                                    {% block content %}{% endblock %}
						</div>
						<!-- End Post -->
						<!-- Begin Products -->
						<div id="products">
							<div class="product">
								<img src="/static/css/T_Shirt/css/images/product-img1.jpg" alt="First Product" height="238px" width="234px"/>
								<div class="pr-info">
									<h4>Menu 1</h4>
									<p>Le menu de la mort avec 2 articles, 1 boisson et 1 plat </p>
									<span class="pr-price"><span>€</span>3.<sup>50</sup></span>
								</div>
							</div>
							<div class="product">
								<img src="/static/css/T_Shirt/css/images/product-img2.jpg" alt="Second Product" height="238px" width="234px" />
								<div class="pr-info">
                                                                        <h4>Menu 2</h4>
                                                                        <p>Le menu des petites faims</p>
									<span class="pr-price"><span>€</span>3.<sup>00</sup></span>
								</div>
							</div>
							<div class="product last">
								<img src="/static/css/T_Shirt/css/images/product-img3.jpg" alt="Third Product" height="238px" width=234px" />
								<div class="pr-info">
									<h4>Pizza</h4>
									<p>Pizza seule</p>
									<span class="pr-price"><span>€</span>2.<sup>00</sup></span>
								</div>
							</div>
							<div class="cl">&nbsp;</div>
						</div>
						<!-- End Products -->
					</div>
					<!-- End Content -->
					<div class="cl">&nbsp;</div>
					<!-- Begin Home Boxes -->
					<div id="home-boxes">
						<!-- Begin Box -->
						<div class="box first">
							<div class="box-title">
								<img src="/static/css/T_Shirt/css/images/box-img1.png" alt="First Box Image" />
								<h4>Livraison</h4>
								<div class="cl">&nbsp;</div>
							</div>
							<div class="box-entry">
								<p>Le prix de livraison varie en fonction des produits du panier.</p>
								<p class="more"><a href="#" title="Read More">En savoir plus</a></p>
							</div>
						</div>
						<!-- End Box -->
						<!-- Begin Box -->
						<div class="box">
							<div class="box-title">
								<img src="/static/css/T_Shirt/css/images/box-img2.png" alt="Second Box Image" />
								<h4>Contact</h4>
								<div class="cl">&nbsp;</div>
							</div>
							<div class="box-entry">
								<p>Vous pouvez contacter la Kfet du DI directement en venant tous les midis à Polytech ou par mail.</p>
								<p class="more"><a href="#" title="Read More">En savoir plus</a></p>
							</div>
						</div>
						<!-- End Box -->
						<!-- Begin Box -->
						<div class="box">
							<div class="box-title">
								<img src="/static/css/T_Shirt/css/images/box-img3.png" alt="Third Box Image" />
                                                                <h4>L'association</h4>
								<div class="cl">&nbsp;</div>
							</div>
							<div class="box-entry">
								<p>Description de l'association de la Kfet.</p>
								<p class="more"><a href="#" title="Read More">En savoir plus</a></p>
							</div>
						</div>
						<!-- End Box -->
						<!-- Begin Box -->
						<div class="box">
							<div class="box-title">
								<img src="/static/css/T_Shirt/css/images/box-img4.png" alt="Fourth Box Image" />
								<h4>Le panier</h4>
								<div class="cl">&nbsp;</div>
							</div>
							<div class="box-entry">
								<p>Description du fonctionnement du panier.</p>
								<p class="more"><a href="#" title="Read More">En savoir plus</a></p>
							</div>
						</div>
						<!-- End Box -->
						<div class="cl">&nbsp;</div>
					</div>
					<!-- End Home Boxes -->
				</div>
				<!-- End Main -->
				<!-- Begin Footer -->
				<footer>
					<p class="bottom-menu"><a href="#" title="Page d'accueil">Accueil</a><span>|</span><a href="#" title="Page des services">Services</a><span>|</span><a href="#" title="Page de mon compte">Mon compte</a><span>|</span><a href="#" title="Page de la boutique">La boutique</a><span>|</span><a href="#" title="Page de contact">Contact</a></p>
					<p>&copy; 2011 Kfet du DI. Design by <a href="http://css-free-templates.com/">CSS-FREE-TEMPLATES.COM</a></p>
					<div class="cl">&nbsp;</div>
				</footer>
				<!-- End Footer -->
			</div>
			<!-- End Shell -->
		</div>
		<!-- End Inner -->
	</div>
	<!-- End Wrapper -->
        </div>
    </body>
</html>  
