{% extends "base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
<!-- Begin Slider -->
<div id="slider">
	<div class="slider-frame">&nbsp;</div>
	<ul class="slider-items">
		<li><img src="/static/css/T_Shirt/css/images/slide1.jpg" alt="Slide 1" height="246px" width="723px"/></li>
		<li><img src="/static/css/T_Shirt/css/images/slide1.jpg" alt="Slide 1" height="246px" width="723px"/></li>
		<li><img src="/static/css/T_Shirt/css/images/slide1.jpg" alt="Slide 1" height="246px" width="723px"/></li>
	</ul>
	<div class="cl">&nbsp;</div>
	<div class="slider-controls">
		<ul></ul>
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- End Slider -->

<h1>Accueil</h1>

<p>La Kfet vous permet maintenant de commander votre repas de midi à l'avance ! <a href="{% url Kfet.Comptes.views.creation %}">Cliquer pour vous inscrire</a><br/>
En vous inscrivant sur ce site, vous pourrez avoir accès à tous les produits que la Kfet propose.</p>

{% endblock %}
