{% extends "base.html" %}

{% block title %}Page d'accueil{% endblock %}

{% block content %}
<!-- Begin Slider -->
<div id="slider">
	<div class="slider-frame">&nbsp;</div>
	<ul class="slider-items">
		<li><img src="/static/css/T_Shirt/css/images/product-img1.jpg" alt="Slide 1" height="246px" width="723px"/></li>
		<li><img src="/static/css/T_Shirt/css/images/product-img2.jpg" alt="Slide 1" height="246px" width="723px"/></li>
		<li><img src="/static/css/T_Shirt/css/images/product-img3.jpg" alt="Slide 1" height="246px" width="723px"/></li>
	</ul>
	<div class="cl">&nbsp;</div>
	<div class="slider-controls">
		<ul></ul>
		<div class="cl">&nbsp;</div>
	</div>
</div>
<!-- End Slider -->

<h1>Page d'accueil</h1>

<p>Voici la page d'accueil</p>

<h3>Categories</h3>
{% if categories_list %}
    <p>{{ categories_list }}</p>
{% else %}
    <p>Pas de catégories</p>
{% endif %}



{% endblock %}
